block footer
.container
	.footer
		hr
		.container
			.links.text-center
				iframe.github-btn(src='http://ghbtns.com/github-btn.html?user=kepennar&repo=portal&size=large&type=fork', allowtransparency='true', frameborder='0', scrolling='0', width='200px', height='30px')
				
				p Designed and built with all the love in the world by 
					a(href="https://twitter.com/kepennar") @kePennar
					a.twitter-follow-button(href="https://twitter.com/kepennar", data-show-screen-name="false", data-show-count="false", data-lang="en")= '@kePennar'
					script.
						!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
						
				p 
					| Code licensed under 
					a(href="http://opensource.org/licenses/MIT", target="_blank") MIT
