body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


.test-form {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.result-container {
	max-width: 1080px;
	padding: 15px;
	margin: 0 auto;
}
.test-heading {
	margin-bottom: 10px;
}
.smooth-hide {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-ms-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;

}
.smooth-show {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-out;
	-moz-transition: opacity 0.5s ease-out;
	-ms-transition: opacity 0.5s ease-out;
	-o-transition: opacity 0.5s ease-out;
	transition: opacity 0.5s ease-out;
}